<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"></script>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"/>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
<meta http-equiv="Content-Security-Policy" content="default-src 'self'; report-uri http://localhost:4200/csp-report;">
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="assets/chat.css">





<main>
    <div class="sideNav1">


    </div>
    <div class="sideNav2">
        <div class="SideNavhead">
            <h2> Welcome {{model.curruser.name}}</h2>
            <input type="hidden" value="{{model.curruser.user_id}}" id="curruserid" name="curruserid" >
            <div class="icon-container">
                <i class="fas fa-sign-out-alt logout-icon" title="Logout" {{action "logout" }}>></i>
                <i class="fas fa-users create-group-icon" title="Create Group" {{action "showGrpCreate" on="click"}}></i>
            </div>
        </div>
        <div class="friends">
            {{#each model.users as |message|}}
                <li class="card flex-row align-items-center justify-content-around   group "  {{action "fetchchat" message "Private" }}>
                    <div class="avatar" style="width: 50px; height: 50px;"><img src="assets/profile.png" alt=""></div>
                        <p class="align-items-center">{{message.name}}</p>
                        <span class="">{{message.mobile_number}}</span>
                        <span class="text-success">{{message.status}}</span>
                </li>

            {{/each}}
            {{#each model.groups as |group|}}
                <li class="card flex-row justify-content-between text-align-center group" {{action "fetchchat" group "Group" }}>
                    <div class="d-flex flex-row">
                        <div class="avatar"style="width: 50px; height: 50px;"><img src="assets/profile.png" alt=""></div>
                        <p class="GroupName">{{group.name}}</p>
                    </div>
                    <div>
                        {{#if group.unseen}}
                            <i class="bi bi-at text-success fs-3" ></i>
                        {{/if}}
                    </div>



                </li>

            {{/each}}
        </div>



    </div>
    <div class="empty-page">


    </div>

    <section class="Chat">
        <div class="ChatHead">
            <li class="d-flex justify-content-around align-items-center gap-3 p-2">
                <img src="assets/profile.png" style="height: 15%; width: 15%; border-radius: 50%" alt="">
                <p class="">{{selectedUsername}}</p>
                <span>{{currentStatus}}</span>
            </li>
            <div class="grpOperations">
                {{#if isGroup}}
                    <i class="bi bi-box-arrow-right text-danger  fs-1" title="Exit"  style="cursor: pointer;" {{action "ExitGroup" model.curruser.user_id on="click"}}></i>
                    {{#if canAddMember }}
                        <i class="bi bi-person-add add text-success fs-1" title="Add members" {{action "addMembers" on="click"}} data-bs-toggle="modal" data-bs-target="#addmember" style="cursor: pointer;"></i>
                    {{/if}}
                    <i class="bi bi-eye-fill text-warning fs-1" title="View members" {{action "OpenViweMember" on="click"}} data-bs-toggle="modal" data-bs-target="#viewmodal" style="cursor: pointer;"></i>
                    {{#if isAdmin}}
                    <i class="bi bi-eye text-primary  fs-1" title="View Role"  style="cursor: pointer;" {{action "viewRoles" on="click" }}></i>
                    <i class="bi bi-folder-plus text-danger  fs-1" title="Create Role"  style="cursor: pointer;"  {{action "openRoleCreat" on="click" }}></i>
                    {{/if}}


                {{/if}}
            </div>
        </div>
        <div class="MessageContainer">
            <span></span>
            {{#each AllMessage as |message|}}
                {{#if (eq message.dataFormat "Text")}}
                    {{#if (neq message.sender_id model.curruser.user_id)}}
                        <div class="message  card d-flex flex-column w-25 you">
                            <div class="d-flex flex-row justify-content-between">
                                {{#if messageForwardMode}}
                                    <input type="checkbox" {{action "updateForwardMessage" message on="change" }}  id="mf" name="mf">
                                {{/if}}
                                <span class="senderName">{{message.sender_name}}</span>
                                {{#if message.isforward}}
                                    <span>Forward</span>
                                {{/if}}
                                <div class="dropdown">
                                    <button class="btn" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                        <svg width="12" height="14" fill="currentColor" class="bi bi-three-dots-vertical" viewBox="0 0 16 16">
                                            <path d="M9.5 13a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z"/>
                                        </svg>
                                    </button>
                                    <ul class="dropdown-menu dropdown-menu-dark bg-dark">
                                        <li><a class="dropdown-item" {{action "ForkMessage" message on="click"}}>fork from here</a></li>
                                        <li><a class="dropdown-item" {{action "DeleteMessage" message "DFM" on="click"}}>Delete for me message</a></li>
                                        {{#if canDeleteMessage}}
                                            <li><a class="dropdown-item" {{action "DeleteMessage" message "DFE" on="click"}}>Delete for everyone message</a></li>
                                        {{/if}}
                                        <li><a class="dropdown-item" {{action "ForwardMessage" true   on="click"}}>Forward message</a></li>
                                    </ul>
                                </div>

                            </div>
                            <hr>

                            <p class="messageContent">{{{message.message}}}</p>
                            <div class="messageDetails">
                                <span class="messageTime">{{message.timestamp}}</span>
                            </div>

                        </div>

                    {{else}}
                        <div class="message me  card d-flex flex-column w-25">
                            <div class="d-flex flex-row justify-content-between">
                                {{#if messageForwardMode}}
                                <input type="checkbox" {{action "updateForwardMessage" message on="change" }} id="mf" name="mf">
                                {{/if}}
                                <span class="senderName">you</span>
                                {{#if message.isforward}}
                                    <span>Forward</span>
                                {{/if}}
                                <div class="dropdown">
                                    <button class="btn" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                        <svg width="12" height="14" fill="currentColor" class="bi bi-three-dots-vertical" viewBox="0 0 16 16">
                                            <path d="M9.5 13a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z"/>
                                        </svg>
                                    </button>
                                    <ul class="dropdown-menu dropdown-menu-dark bg-dark">
                                        <li><a class="dropdown-item" {{action "ForkMessage" message on="click"}}>fork from here</a></li>
                                        <li><a class="dropdown-item" {{action "DeleteMessage" message "DFM" on="click"}}>Delete for me message</a></li>
                                        <li><a class="dropdown-item" {{action "DeleteMessage" message "DFE" on="click"}}>Delete for everyone message</a></li>
                                        <li><a class="dropdown-item" {{action "ForwardMessage" true   on="click"}}>Forward message</a></li>
                                        <li><a class="dropdown-item" {{action "EditMessage" true   on="click"}}>Edit message</a></li>


                                    </ul>
                                </div>
                            </div>
                            <hr>

                            <div class="d-flex justify-content-start">
                                <p class="messageContent">{{{message.message}}}</p>
                            </div>

                            <div class="messageDetails">
                                <span class="messageTime">{{message.timestamp}}</span>
                            </div>

                        </div>

                    {{/if}}
                {{/if}}
                {{#if (eq message.dataFormat "Sticker")}}
                    {{#if (neq message.sender_id model.curruser.user_id)}}
                        <div class="message syou">
                            <div class="d-flex justify-content-between">
                                {{#if messageForwardMode}}
                                    <input type="checkbox" {{action "updateForwardMessage" message on="change" }}   id="mf" name="mf">
                                {{/if}}
                                <div class="dropdown">
                                    <span class="text-danger">{{message.sender_name}}</span>

                                    <button class="btn" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                        <svg width="12" height="14" fill="currentColor" class="bi bi-three-dots-vertical" viewBox="0 0 16 16">
                                            <path d="M9.5 13a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z"/>
                                        </svg>
                                    </button>
                                    <ul class="dropdown-menu dropdown-menu-dark bg-dark">
                                        <li><a class="dropdown-item" {{action "ForkMessage" message on="click"}}>fork from here</a></li>
                                        <li><a class="dropdown-item" {{action "DeleteMessage" message "DFM" on="click"}}>Delete for me message</a></li>
                                        {{#if canDeleteMessage }}
                                            <li><a class="dropdown-item" {{action "DeleteMessage" message "DFE" on="click"}}>Delete for everyone message</a></li>
                                        {{/if}}

                                       <li><a class="dropdown-item" {{action "ForwardMessage" true   on="click"}}>Forward message</a></li>



                                    </ul>
                                </div>
                            </div>
                        <img src="{{message.file_name}}" class="sticker-icon">
                    </div>
                    {{else}}
                        <div class=" message sme">
                            <div class="d-flex justify-content-between">
                                {{#if messageForwardMode}}
                                    <input type="checkbox" {{action "updateForwardMessage" message on="change" }}  id="mf" name="mf" >
                                {{/if}}
                                <div class="dropdown">
                                    <span class="text-danger">you</span>

                                    <button class="btn" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                        <svg width="12" height="14" fill="currentColor" class="bi bi-three-dots-vertical" viewBox="0 0 16 16">
                                            <path d="M9.5 13a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z"/>
                                        </svg>
                                    </button>
                                    <ul class="dropdown-menu dropdown-menu-dark bg-dark">
                                        <li><a class="dropdown-item" {{action "ForkMessage" message on="click"}}>fork from here</a></li>
                                        <li><a class="dropdown-item" {{action "DeleteMessage" message "DFM" on="click"}}>Delete for me message</a></li>
                                        <li><a class="dropdown-item" {{action "DeleteMessage" message "DFE" on="click"}}>Delete for everyone message</a></li>
                                        <li><a class="dropdown-item" {{action "ForwardMessage" true   on="click"}}>Forward message</a></li>


                                    </ul>
                                </div>
                            </div>
                            <img src="{{message.file_name}}" class="sticker-icon">
                            <div class="messageDetails">
                                <span class="messageTime">{{message.timestamp}}</span>
                            </div>
                        </div>
                    {{/if}}
                {{/if}}
            {{/each}}
        </div>
        {{# if canSendMessage }}
        <div class="messageCenter">

        <form id="MessageForm" >
            {{#if messageForwardMode}}
                <div class="card d-flex gap-3 w-100 p-2">
                    <div class="card-title d-flex justify-content-between ">
                        <h3>Forward Messages</h3>
                        <button type="button" class="btn-close btn btn-danger" {{action "ForwardMessage" false on="click"}} aria-label="Close"></button>
                    </div>
                    <div class="d-flex justify-content-around">
                        <span>{{countOfforwardMessage}} messages selected</span>
                        <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#exampleModal" >forward</button>
                    </div>
                </div>

            {{else}}
                {{input type="text" id="MessageInput" name="MessageInput" value=messageText input=(if isGroup (action "detectMention"))}}
            <button type="button" {{action "openStickerPicker"}}>stickers</button>
            <button type="submit" {{action (if isGroup "SendMessageOnGroup" "sendMessage") on="click" }}class="Send">send</button>
            {{/if}}


        </form>
        {{#if showStickerPicker}}
            <div class="sticker-picker" >
                {{#each stickers as |sticker|}}
                    <img src="{{sticker.url}}" class="sticker-icon" {{action "extractSticker" sticker.url on="click"}}>
                {{/each}}
            </div>
        {{/if}}
        </div>
            {{/if}}
    </section>
    <section class="createGroup">
        <form {{action "CreateNewGroup" model.curruser.user_id on="submit" }}>
            <div class="d-flex justify-content-between">
                <h3 class="bg-green">Create New Group</h3>
                <button type="button" class="btn-close" {{action "closeCreateGrp" on="click"}} aria-label="Close"></button>
            </div><br>
            <div class="d-flex align-items-center gap-4">
                <label for="grpName">Group Name: </label><input type="text" name="grpNmae" id="grpName" style="width: 70%;padding: 10px;" required>
            </div><br>
            <br>
            <div class="d-flex flex-column gap-2">
                <h3>Add Members</h3><br>
                {{#each model.users as |message|}}
                    <div class=" d-flex justify-content-around align-items-center" >
                        <div class="avatargrp"><img src="assets/profile.png" alt=""></div>
                        <p>{{message.name}}</p>
                        <span >{{message.mobile_number}}</span>
                        <input type="checkbox"  {{action "addUsertoGroup" message.user_id on="change"}}  >
                    </div>
                    <hr>
                {{/each}}
            </div>
            <div class="button-container">
                <button type="submit" class="submit-button">Create Group</button>
            </div>
        </form>
    </section>








    <!-- Modal -->



</main>
<!--Forward modal-->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Send to..</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

                {{#each model.users as |message|}}
                    <li class="card flex-row align-items-center justify-content-around   group ">
                        <div class="avatar" style="width: 50px; height: 50px;"><img src="assets/profile.png" alt=""></div>
                        <p class="align-items-center">{{message.name}}</p>
                        <span class="">{{message.mobile_number}}</span>
                        <input type="checkbox" {{action "updateSelectedUsers" message  on="change" }}>
                    </li>

                {{/each}}
                {{#each model.groups as |group|}}
                    <li class="card flex-row text-align-center group" >
                        <div class="avatar"style="width: 50px; height: 50px;"><img src="assets/profile.png" alt=""></div>
                        <p class="GroupName">{{group.name}}</p>
                        <input type="checkbox" {{action "updateSelectedUsers" group  on="change" }} >


                    </li>

                {{/each}}

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" {{action "doForward" on="click"}} class="btn btn-primary">Send</button>
            </div>
        </div>
    </div>
</div>


<!-- model for view members-->
<div class="modal fade" id="viewmodal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog  modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">View Group members</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

                <form {{action "RemoveMember" model.curruser.user_id on="submit" }}>
                    {{#each ViewGrpMembers as |member|}}
                        <div class="card d-flex align-items-center gap-4 flex-row p-2" >
                            <div class="avatargrp"><img src="assets/profile.png" alt=""></div>
                            <p class="GroupName">{{member.name}}</p>
                            <span class="">{{member.mobile_number}}</span>
                            <div class="btn-group dropend">
                                <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                                    Roles
                                </button>
                                <ul class="dropdown-menu">
                                    {{#each member.role_names as |role| }}
                                    <li><a class="dropdown-item" >{{role}}</a></li>
                                    {{/each}}

                                </ul>
                            </div>
<!--                            {{#if member.isAdmin}}-->
<!--                                <span>Admin</span>-->
<!--                            {{else}}-->
<!--                                <span>Member</span>-->
<!--                            {{/if}}-->
<!--                            {{#if (eq model.curruser.user_id  member.user_id)}}-->
<!--                                <span>(YOU)</span>-->
<!--                            {{/if}}-->


                            {{#if canRemoveMember }}

                                {{#if (neq model.curruser.user_id member.user_id)}}
                                    <i class="bi bi-person-x-fill fs-1 text-danger" title="Remove" style="cursor: pointer;" {{action "ExitGroup" member.user_id on="click"}}></i>
<!--                                    {{#if  member.isAdmin}}-->
<!--                                        <i class="bi bi-person-fill-down fs-1 text-danger" title="Dismiss as Admin" style="cursor: pointer;" {{action "makeAdmin" member.user_id false on="click"}}></i>-->
<!--                                    {{else}}-->
<!--                                        <i class="bi bi-person-fill-up fs-1 text-success" title="Make as Admin" style="cursor: pointer;" {{action "makeAdmin" member.user_id true on="click"}}></i>-->

<!--                                    {{/if}}-->
                                {{/if}}
                            {{/if}}

                        </div>
                        <hr>
                    {{/each}}
                </form>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!-- Add New Member to Group-->
<div class="modal fade" id="addmember" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
<div class="modal-dialog modal-dialog-scrollable">
    <div class="modal-content">
        <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel">Add new members</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <form {{action "addNewMember"  on="submit" }}>
                <div class="d-flex- flex-column">
                    {{#each ViewGrpMembers as |member|}}
                        <div class="card d-flex justify-content-around align-items-center flex-row p-3" >
                            <div class="avatargrp"><img src="assets/profile.png" alt=""></div>
                            <p class="">{{member.name}}</p>
                            <span class="">{{member.mobile_number}}</span>
                            <input type="checkbox"    {{action "addUsertoGroup" member.user_id on="change"}}  >

                        </div>
                        <hr>
                    {{/each}}
                </div>

            </form>

        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="button"  {{action "addNewMember"  on="click" }} class="submit-button">Add Members</button>

        </div>
    </div>
</div>
</div>

<!--model for mention users-->
<div class="modal fade" id="mentionmodal" aria-hidden="true" aria-labelledby="exampleModalToggleLabel" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalToggleLabel">Members </h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="d-flex flex-column gap-2">
                    <div class="">
                        {{#each ViewGrpMembers as |member|}}
                            {{#if (neq member.user_id sender_id)}}
                            <div class="card d-flex justify-content-around align-items-center flex-row p-3" {{action "addMentionMember" member.user_id member.name "member" on="click" }} style="cursor: pointer;" >
                                <div class="avatargrp"><img src="assets/profile.png" alt=""></div>
                                <p class="">{{member.name}}</p>
                                <span class="">{{member.mobile_number}}</span>

                            </div>
                            <hr>
                            {{/if}}
                        {{/each}}
                        {{#each getRoles as |role|}}
                            <div class="card d-flex flex-row p-3 gap-3" {{action "addMentionMember" role.role_id role.role_name "role" on="click" }} style="cursor: pointer;" >
                                <div class="avatargrp"><img src="assets/profile.png" alt=""></div>
                                <p class="">{{role.role_name}}</p>

                            </div>
                            <hr>
                        {{/each}}
                    </div>
                </div>
            </div>


        </div>
    </div>
</div>

<!--Role creation model-->
<div class="modal fade" id="rolemodel" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Roles</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row  row-cols-2  g-4">
                    {{# each viewrole as |role index|}}
                    <div class="col-6">
                        <div class="card" >
                            <div class="card-body">
                                <div class="d-flex flex-row justify-content-between">
                                    <h5 class="card-title">{{role.role_name}}</h5>
                                    <div class="d-flex flex-row gap-3">
                                        <i class="bi bi-person-fill-add text-success fs-2" title="Add member" {{action "showAddmemberToRole" role.role_id role.role_name}} style="cursor: pointer;"></i>
                                        <i class="bi bi-trash3-fill text-danger fs-2" {{action "deleteRoleFromGrp" role.role_id}} style="cursor: pointer;"></i>
                                    </div>

                                </div>

<!--                                <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>-->
                                <div class="accordion accordion-flush" id="accordionFlushExample">
                                    <div class="accordion-item">
                                        <h2 class="accordion-header" id="flush-headingOne">
                                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse{{index}}" aria-expanded="false" aria-controls="flush-collapseOne">
                                                Permissions
                                            </button>
                                        </h2>
                                        <div id="flush-collapse{{index}}" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                                            <div class="accordion-body">
                                                <div>
                                                    {{#each role.permissions as |permission|}}
                                                    <div class="d-flex flex-column">
                                                        <label>{{permission.permission_name}} <input type="checkbox" {{action "editPermission" role.role_id permission.permission_id  on="change" }}  checked={{permission.access}}></label>
                                                    </div>
                                                    {{/each}}

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="accordion-item">
                                        <h2 class="accordion-header" id="flush-headingTwo">
                                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo{{index}}" aria-expanded="false" aria-controls="flush-collapseTwo">
                                                Members
                                            </button>
                                        </h2>
                                        <div id="flush-collapseTwo{{index}}" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
                                            <div class="accordion-body">
                                                <div class="row row-cols-1">
                                                    {{#each role.members as |member| }}
                                                    <div class="col">
                                                        <div class="card d-flex justify-content-between align-items-center flex-row p-3" {{action "saran" on="click" }} style="cursor: pointer;" >
                                                            <div class="avatargrp"><img src="assets/profile.png" alt=""></div>
                                                            <span class="align-items-center">{{member.name}}</span>
                                                            <span class="">{{member.mobile_number}}</span>
                                                            <i class="bi bi-person-dash-fill text-danger  fs-2" {{action "removeMemberFromRole" member.user_id role.role_id }} title="Remove member"></i>

                                                        </div>
                                                        <hr>

                                                    </div>
                                                    {{/each}}
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>

                    </div>
                    {{/each}}
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>

            </div>
        </div>
    </div>
</div>

<!--Create role modal-->
<div class="modal fade" id="createrole" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Create New Role</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="mb-3">
                        <label for="role_name" class="form-label">Role Name</label>
                        <input type="text" class="form-control" id="role_name" name="role_name" placeholder="Role Name" required>
                    </div>
                    <div class="mb-3">
                        <label for="role_name" class="form-label">Role Description</label>
                        <input type="text" class="form-control" id="role_des" name="role_des" placeholder="Role Name" required>
                    </div>
                    <div class="mb-3">
                        <label for="exampleFormControlInput1" class="form-label">Permissions</label>
                        <div class="row row-cols-3">
                            {{#each permissions as |per|}}
                            <div class="col p-2">
                                <label class="">{{per.value}}</label>
                                <input type="checkbox"  {{ action "handlePermission" per.key on="change"}}>
                            </div>
                            {{/each}}

                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="exampleFormControlInput1" class="form-label">Assign Role To</label>
                        <div class="row row-cols-2">
                            {{#each ViewGrpMembers as |member|}}
                            <div class="col">
                                <div class="d-flex- flex-column">
                                        <div class="card d-flex justify-content-around align-items-center flex-row p-3" >
                                            <div class="avatargrp"><img src="assets/profile.png" alt=""></div>
                                            <p class="">{{member.name}}</p>
                                            <span class="">{{member.mobile_number}}</span>
                                            <input type="checkbox"    {{action "handleAssignMember" member.user_id on="change"}} >

                                        </div>
                                        <hr>
                                </div>

                            </div>
                            {{/each}}

                        </div>
                    </div>

                </form>


            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button"   class="submit-button" {{action "createRole" on="click"}}>Create</button>

            </div>
        </div>
    </div>
</div>

<!--Add member to role-->
<div class="modal fade" id="addMemberToRole" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog  modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="rolename"></h1>
                <input type="hidden" id="roleID" name="roleID">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

                <form {{action "RemoveMember" model.curruser.user_id on="submit" }}>
                    {{#each ViewGrpMembers as |member|}}
                        <div class="card d-flex align-items-center gap-4 flex-row p-2" >
                            <div class="avatargrp"><img src="assets/profile.png" alt=""></div>
                            <p class="GroupName">{{member.name}}</p>
                            <span class="">{{member.mobile_number}}</span>
                            <input type="checkbox" {{action "handleAssignMember" member.user_id on="change"}}>
                        </div>
                        <hr>
                    {{/each}}
                </form>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type ="button" class="btn btn-secondary" {{action "addMemberToRole" on="click"}}>Add</button>
            </div>
        </div>
    </div>
</div>

<!--Fork option model-->
<div class="modal fade" id="forkmessage" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog   modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5">Fork Messages</h1>
                <input type="hidden" id="roleID" name="roleID">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="d-flex flex-column">
                    <div class="d-flex align-items-center">
                        <div class="card start-fork">
                            <strong id="fork-sender">sender</strong>
                            <span id="fork-msg">Message</span>
                            <span id="fork-time">Time</span>
                        </div>
                    </div>

                    <div class="grp-field">
                        <div class="ml-2" style="margin-left: 20px;">
                            <h3>Add Users</h3>
                        </div>
                        <div class="d-flex flex-column gap-2 ">
                            {{#each newMembersForFork as |message|}}
                                <div class="card d-flex flex-row p-3 align-items-center justify-content-between w-65" >
                                    <div class="avatargrp"><img src="assets/profile.png" alt=""></div>
                                    <sapn>{{message.name}}</sapn>
                                    <span >{{message.mobile_number}}</span>
                                    <input type="checkbox"    {{action "addUserToFork" message.user_id on="change"}}  >

                                </div>
                            {{/each}}
                        </div>

                    </div>
                    <div class="data-field">
                        <div class="chat-title">
                            <label for="chat-title">Chat Title: </label><input type="text" class="p-3" name="chat-title" id="chat-title" required>
                        </div>
                        <label><input type="checkbox" id="all" name="all"> Include all participants of this conversation</label>
                    </div>
                </div>


            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="submit-button" {{action "CreatForkMessage"  on="click" }}>Create Chat</button>
            </div>
        </div>
    </div>
</div>