<link rel="stylesheet" href="assets/chat.css">
<main>
    <div class="sideNav1">


    </div>
    <div class="sideNav2">
        <div class="SideNavhead">
            <h2>Chats of {{model.curruser.name}}</h2>
            <input type="hidden" value="{{model.curruser.user_id}}" id="curruserid" name="curruserid" >
            <button class="logout" {{action "showGrpCreate" on="click"}}>Create New Group</button>
            <button class="logout" {{action "logout" }}>Logout</button>
        </div>
    {{#each model.users as |message|}}
        <li class="group" {{action "fetchchat" message "Private" }}>
            <div class="avatar"><img src="assets/profile.png" alt=""></div>
            <p class="GroupName">{{message.name}}</p>
            <span class="GroupDescrp">{{message.mobile_number}}</span>

        </li>
        <hr>
    {{/each}}
        {{#each model.groups as |group|}}
            <li class="group" {{action "fetchchat" group "Group" }}>
                <div class="avatar"><img src="assets/profile.png" alt=""></div>
                <p class="GroupName">{{group.name}}</p>
                <span class="GroupDescrp"></span>

            </li>
            <hr>
        {{/each}}


    </div>
    <div class="empty-page">


    </div>

    <section class="Chat">
        <div class="ChatHead">

            <li class="group">
                <div class="avatar"><img src="assets/profile.png" alt=""></div>
                <p class="GroupName">{{selectedUsername}}</p>
            </li>
            <div class="grpOperations">
                {{#if isGroup}}
                <button {{action "ExitGroup" model.curruser.user_id on="click"}}>Exit Group</button>
                    {{#if isAdmin}}
                     <button {{action "addMembers" on="click"}}>Add Member</button>
                    {{/if}}
                    <button {{action "ViewMembers" on="click"}}>View Members</button>
                {{/if}}

            </div>
        </div>
        <hr>
        <div class="MessageContainer">
            <span></span>
            {{#each AllMessage as |message|}}
                {{#if (neq message.sender_id model.curruser.user_id)}}
                    <div class="message you">
                        <div class="messageHeader">
                            <span class="senderName">{{message.sender_name}}</span>
                        </div>
                        <p class="messageContent">{{message.message}}</p>
                        <div class="messageDetails">
                            <i class="fa-solid fa-check"></i>
                            <span class="messageTime">{{message.timestamp}}</span>

                        </div>
                    </div>
                {{else}}
                    <div class="message me">
                        <div class="messageHeader">
                        </div>
                        <p class="messageContent">{{message.message}}</p>
                        <div class="messageDetails">
                            <span class="messageTime">{{message.timestamp}}</span>
                            <i class="fa-solid fa-check"></i>
                        </div>
                    </div>
                {{/if}}
            {{/each}}

        </div>
        <form id="MessageForm" {{action (if isGroup "SendMessageOnGroup" "sendMessage") on="submit" }}>
            <input type="text" id="MessageInput" name="MessageInput">
            <button type="submit" class="Send">send</button>
        </form>
    </section>
    <section class="createGroup">

        <form {{action "CreateNewGroup" model.curruser.user_id on="submit" }}>
            <div class="grp-field">
                <label for="grpName">Group Name: </label><input type="text" name="grpNmae" id="grpName" required>
            </div>
            <div class="grp-field">
                <h3>Add Members</h3>
                {{#each model.users as |message|}}
                    <div class="groupnew" >
                        <div class="avatargrp"><img src="assets/profile.png" alt=""></div>
                        <p class="GroupName">{{message.name}}</p>
                        <span class="GroupDescrp">{{message.mobile_number}}</span>
                        <input type="checkbox"   class="GroupDescrp" {{action "addUsertoGroup" message.user_id on="change"}}  >

                    </div>
                    <hr>
                {{/each}}
            </div>
            <div class="button-container">
                <button type="submit" class="submit-button">Create Group</button>
            </div>
        </form>
    </section>

    <section class="ViewGrpMember">
        <div class="viewHeader">
            <h1>Group Members</h1><br>
            <button {{action "closeViewMember" on="click"}}>Close</button>
        </div><br>

        <form {{action "RemoveMember" model.curruser.user_id on="submit" }}>
            {{#each ViewGrpMembers as |member|}}
                <div class="groupnew" >
                    <div class="avatargrp"><img src="assets/profile.png" alt=""></div>
                    <p class="GroupName">{{member.name}}</p>
                    <span class="">{{member.mobile_number}}</span>
                        <span>{{member.role}}</span>
                    {{#if (eq model.curruser.user_id  member.user_id)}}
                        <span>(YOU)</span>
                    {{/if}}
                        {{#if isAdmin}}
                            {{#if (neq model.curruser.user_id member.user_id)}}
                                <button {{action "ExitGroup" member.user_id}}>Remove</button>
                                {{#if (neq member.role "Admin")}}
                                <button {{action "makeAdmin" member.user_id}}>Make as Admin</button>
                                {{else}}
                                    <button {{action "makeAdmin" member.user_id}}>Dismiss as Admin</button>
                                {{/if}}
                            {{/if}}
                        {{/if}}

                </div>
                <hr>
            {{/each}}
        </form>

    </section>

    <section class="addMembers">
        <form {{action "addNewMember"  on="submit" }}>
            <div class="viewHeader">
                <h1>Add Members</h1><br>
                <button {{action "closeViewMember" on="click"}}>Close</button>
            </div><br>
            <div class="grp-field">
                {{#each ViewGrpMembers as |member|}}
                    <div class="groupnew" >
                        <div class="avatargrp"><img src="assets/profile.png" alt=""></div>
                        <p class="">{{member.name}}</p>
                        <span class="">{{member.mobile_number}}</span>
                        <input type="checkbox"   class="GroupDescrp" {{action "addUsertoGroup" member.user_id on="change"}}  >

                    </div>
                    <hr>
                {{/each}}
            </div>
            <div class="button-container">
                <button type="submit" class="submit-button">Add Members</button>
            </div>
        </form>


    </section>

</main>